@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Fallback fonts generated by fontpie-from-css  */

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: bold;
    src: local('Arial Bold');
    ascent-override: 84.85%;
    descent-override: 20.30%;
    line-gap-override: 0.00%;
    size-adjust: 103.47%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: bold;
    src: local('Arial Bold Italic');
    ascent-override: 84.69%;
    descent-override: 20.26%;
    line-gap-override: 0.00%;
    size-adjust: 103.67%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 900;
    src: local('Arial Bold');
    ascent-override: 79.42%;
    descent-override: 19.00%;
    line-gap-override: 0.00%;
    size-adjust: 110.55%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: bold;
    src: local('Arial Bold');
    ascent-override: 89.23%;
    descent-override: 21.34%;
    line-gap-override: 0.00%;
    size-adjust: 98.39%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 200;
    src: local('Arial');
    ascent-override: 92.22%;
    descent-override: 22.06%;
    line-gap-override: 0.00%;
    size-adjust: 95.21%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: normal;
    src: local('Arial Italic');
    ascent-override: 88.63%;
    descent-override: 21.20%;
    line-gap-override: 0.00%;
    size-adjust: 99.06%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: bold;
    src: local('Arial Bold Italic');
    ascent-override: 88.93%;
    descent-override: 21.27%;
    line-gap-override: 0.00%;
    size-adjust: 98.73%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 200;
    src: local('Arial Italic');
    ascent-override: 92.13%;
    descent-override: 22.04%;
    line-gap-override: 0.00%;
    size-adjust: 95.30%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 900;
    src: local('Arial Bold Italic');
    ascent-override: 79.42%;
    descent-override: 19.00%;
    line-gap-override: 0.00%;
    size-adjust: 110.55%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 300;
    src: local('Arial');
    ascent-override: 90.60%;
    descent-override: 21.67%;
    line-gap-override: 0.00%;
    size-adjust: 96.91%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 100;
    src: local('Arial');
    ascent-override: 93.34%;
    descent-override: 22.33%;
    line-gap-override: 0.00%;
    size-adjust: 94.06%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 500;
    src: local('Arial Italic');
    ascent-override: 86.88%;
    descent-override: 20.78%;
    line-gap-override: 0.00%;
    size-adjust: 101.05%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 100;
    src: local('Arial Italic');
    ascent-override: 93.33%;
    descent-override: 22.32%;
    line-gap-override: 0.00%;
    size-adjust: 94.07%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 92.40%;
    descent-override: 22.10%;
    line-gap-override: 0.00%;
    size-adjust: 95.02%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: 500;
    src: local('Arial');
    ascent-override: 87.19%;
    descent-override: 20.85%;
    line-gap-override: 0.00%;
    size-adjust: 100.70%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: normal;
    font-weight: normal;
    src: local('Arial');
    ascent-override: 88.86%;
    descent-override: 21.25%;
    line-gap-override: 0.00%;
    size-adjust: 98.81%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 600;
    src: local('Arial Bold Italic');
    ascent-override: 91.98%;
    descent-override: 22.00%;
    line-gap-override: 0.00%;
    size-adjust: 95.46%;
}

@font-face {
    font-family: 'Archivo Fallback';
    font-style: italic;
    font-weight: 300;
    src: local('Arial Italic');
    ascent-override: 90.46%;
    descent-override: 21.64%;
    line-gap-override: 0.00%;
    size-adjust: 97.06%;
}